table {
	table-layout: fixed;
	border-spacing: 0px;
	background-position: center;
}

.cell{
	width: 62px;
	height: 63px;
	border: 1px solid;
	background-position: center;
	background-size: 64px;
	background-repeat: no-repeat;
	background-color: lightgray;
}

.straight{
	background-image: url("../img/straight.png");
}
#game_board{

}