body {
	background-position: center;
	background-image: url("../img/background.png");
	background-attachment: fixed;
	background-size: cover;
}

@font-face {
	font-family: opensans_light;
	src: url("../OpenSansLight.ttf");
}

@font-face {
	font-family: opensans;
	src: url("../OpenSans.ttf");
}

#game_board {
    border-spacing: 0px;
    background-image: url("../img/back.png");
    min-width: 600px;
    min-height: 600px;
}

td, tr {
	width: 60px;
	height: 60px;
	min-width: 60px;
	min-height: 60px;
	background-position: center;
}

.border {
	background-image: url("../img/border.gif");
}

.border_corner{
	background-image: url("../img/border_corner.gif");;
}

#game_container {
	max-width: 1000px;
	max-height: 800px;
	margin: 0 auto;
	margin-top: 1%;
	padding-top: 10px;
	background-color: #0c141f;
	border: 5px solid orange;
	border-radius: 20px;
	padding-bottom: 150px;
}

#win_container, #level_board{
	z-index: 2;
	position: fixed;
    left: 50%;
    transform: translateX(-50%);
	display: none;	
	border: 5px solid orange;
	border-radius: 20px;
	font-family: opensans;
	font-size: 2.7em;
	color: orange;
	text-align: center;
	background-color: #0c141f;
}

#level_board {
    top: 10%;

}

#win_container {
	bottom: 1%;
}

#menu_bar {	
	font-family: opensans;
	font-size: 24pt;
	color: orange;
	width: 100%;
	text-align: center;
	border-bottom: 5px solid orange;
	
}

#restart {
	width: 20%;
	cursor: pointer;

}

#next, #level_text {
	width: 15%;
	cursor: pointer;
}

#level_text, #rotation_text {
	text-align: right;
}

#next {
	color: gray;
}

#level_value {
	text-align: left;
	width: 15%;
}

#rotation_value {
	text-align: left;
}

span {
	margin: 20px;
}

.level{
	cursor: pointer;
}

#close_level_board{
	cursor: pointer;
}