table {
    border-collapse: collapse;
    border-spacing: 0px;
    position: relative;
    left: 25%;
    background-image: url("../img/back.png");
}
td, tr {
	width: 60px;
	height: 60px;
	min-width: 60px;
	min-height: 60px;
	border: 1px; 
	background-position: center;
	size: fixed;
}

.border {
	background-image: url("../img/border.png");
}

